# Abaikan file atau folder ini supaya tidak
# di commit ke dalam repository
doc
Env
data/coba/
test/AAPL.csv
test/AAPL.xlsx
test/~$AAPL.xlsx
src/__pycache__
src/myFunctions/__pycache__
src/myWidgets/__pycache__